.account-description {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.admin-error-message {
    display: none;
}

.admin input[type='submit'] {
    float: right;
}

#login {
    margin-bottom: 20px;
}