.blog-post {
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 20px solid;
    border-top: none;
    border-image: url(/images/blogborder.png) 100 0 100 repeat;
    text-align: left;
}

.blog-post:last-child {
    border-bottom: none;
}

.blog-post-title {
    font-weight: bold;
    float: left;
    letter-spacing: 1px;
    font-size: 22px;
}

.blog-post-date {
    font-size: 75%;
    font-style: italic;
    float: right;
}

.blog-post-tags {
    font-size: 75%;
    clear: both;
}

.blog-post-content {
    padding-top: 15px;
    clear: both;
}

.blog-post-contents-hidden {
    display: none;
}

.blog-post-actions {
    padding-top: 5px;
    font-size: 75%;
}

.blog-post-end {
    clear: both;
}

.blog-pagination {
    margin-top: 10px;
}

.blog-post-title {
    margin: 0;
}

iframe, img, pre {
    max-width: 100%;
    white-space: pre-wrap;
}

.comments-area {
    padding: 20px;
    text-align: left;
}

.comments-area .comment-author img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.comment-list {
    list-style-type: none;
}

label[for="comment"] {
    display: block;
}

.comment-respond #submit {
    background-color: #3274da;
    border: 0;
    color: white;
    padding: 0 15px;
    cursor: pointer;
    border: 1px solid;
    margin: 5px;
    margin-left: 0;
    height: 30px;
    text-decoration: none !important;
    font-size: 11px;
    display: inline-block;
    line-height: 30px;
    border-radius: 0;
}

.comment-respond textarea, .comment-respond input[type="text"] {
    background-color: #3274da;
    color: white;
    border: 1px solid white;
    display: inline-block;
    padding: 5px;
    position: relative;
    border-radius: 0;
    -webkit-appearance: none;
}

.comment {
    margin-top: 10px;
}
