.detail-side-boxes {
	display: inline-block;
	background-color: #3274DA;
	margin: 10px 0;
}

.detail-side-box {
	display: inline;
	vertical-align: top;
}

.detail-side-box-item {
	background-color: #3274DA;
	padding: 10px;
	color: white;
	width: 250px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

.detail-side-box-item ul {
	margin: 0;
	list-style-type: none;
	padding-left: 0;
	text-align: left;
}

.detail-side-box-title {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
}

.detail-side-box-alt-text {
	color: #C6E0E7;
}

.detail-side-box-link {
	color: white;
}

.detail-side-box-link:hover {
	color: white;
}

/* For Zoom */
input[type=range] {
  -webkit-appearance: none;
  height: 20px;
  width: 75%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-thumb {
	height: 12px;
	width: 12px;
	border: none;
	cursor: pointer;
	border-radius: 15px;
	background-color: white;
	
	margin-top: 0;
}
input[type=range]::-webkit-slider-thumb {
	height: 12px;
	width: 12px;
	border: none;
	cursor: pointer;
	border-radius: 15px;
	background-color: white;
	
	-webkit-appearance: none;
	margin-top: -5px;
}
input[type=range]::-ms-thumb {
	height: 12px;
	width: 12px;
	border: none;
	cursor: pointer;
	border-radius: 12px;
	background-color: white;
	
	margin-top: 0;
}
input[type=range]::-moz-range-track {
	width: 100%;
	cursor: pointer;
	background-color: #5A8FE1;
	height: 3px;
	border: none;
	color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	cursor: pointer;
	background-color: #5A8FE1;
	height: 3px;
	border: none;
	color: transparent;
}
input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background-color: #5A8FE1;
	height: 3px;
	border: none;
	color: transparent;
}

#shrink {
	display: none;
}

#grow {
	display: none;
}

#movie-container {
	display: block;
}

#movie-container iframe {
	width: 1px;
    min-width: 100%;
}

#movie {
	display: block;
}

.detail-preview-wrapper {
	position:absolute;
	top:0;
	left:50%;
}

.detail-preview {
	position:relative; 
	left:-50%;
}

#preview-box {
	border: 1px solid white;
	display: none;
	box-sizing: border-box;
	position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	z-index: 50;
	opacity: 0.5;
	background-color: white;
	pointer-events: none;
}
/* End for zoom */

/* For rating */
.detail-total-rating, .detail-your-rating {
	text-align :center;
	display: inline-block;
}

.detail-stars, .detail-stars span, .detail-stars-indication {
	display: block;
	background: url("/images/stars.png") 0 -23px repeat-x;
	background-size: 22px 46px;
	width: 110px;
	height: 22px;
}

.detail-stars span, .detail-stars-indication {
	background-position: 0 0;
}

.detail-star {
	float: left;
	width: 22px;
	height: 22px;
	display: inline-block;
	cursor: pointer;
}

.detail-stars-indication {
	width: 0;
}

#show-rating-loading {
	display: none;
}

#star-1:hover ~ .detail-stars-indication {
	width: 22px;
}
#star-2:hover ~ .detail-stars-indication {
	width: 44px;
}
#star-3:hover ~ .detail-stars-indication {
	width: 66px;
}
#star-4:hover ~ .detail-stars-indication {
	width: 88px;
}
#star-5:hover ~ .detail-stars-indication {
	width: 110px;
}

.detail-thanks-for-voting {
	font-size: 75%;
	display: none;
}

/* End for rating */

.detail-random-games {
	clear: both;
}

.detail-download-body {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 1px 10px 10px 10px;
}

.detail-download-body img {
	width: 100%;
	padding-top: 10px;
}

@media screen and (min-width: 1400px) {
    .detail-left-side-box.responsive {
		float: left;
	}
	.detail-right-side-box.responsive {
		float: right;
	}
	.detail-side-boxes.responsive {
		display: inline;
		background-color: transparent;
	}
	.detail-side-box.responsive {
		/* This margin replaces the margin that was on side-boxes before side-boxes became inline */
		margin-top: 10px;
		display: inline-block;
	}
	.detail-side-box-item.responsive {
		margin-bottom: 10px;
		display: block;
	}
	.detail-separator.responsive {
		display: none;
	}
}
	