@media screen and (max-width: 810px) {

	/* This is calculated in the script for games, but since all videos are the same size, we
		can put it here for videos */
	.box-content-tight {
		width: calc(100% - 10px) !important;
	}
	
	#movie-container {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
	}
	
	#movie-container #movie {
		position: absolute;
		width: 100% !important;
		height: 100% !important;
		visibility: visible;
	}
	
	.detail-zoom-options {
		display: none;
	}
}