[submodule "game103games/javascript/flip-a-blox"]
	path = game103games/javascript/flip-a-blox
	url = https://github.com/game103/flip-a-blox.git
[submodule "game103games/download"]
	path = game103games/download
	url = https://github.com/game103/download.git
[submodule "game103games/distribute"]
	path = game103games/distribute
	url = https://github.com/game103/distribute.git
[submodule "game103games/flash/abeerpg"]
	path = game103games/flash/abeerpg
	url = https://github.com/game103/abeerpg.git
[submodule "game103games/flash/ageofbunnies"]
	path = game103games/flash/ageofbunnies
	url = https://github.com/game103/ageofbunnies.git
[submodule "game103games/flash/carotzandmore"]
	path = game103games/flash/carotzandmore
	url = https://github.com/game103/carotzandmore.git
[submodule "game103games/flash/cocoacatch"]
	path = game103games/flash/cocoacatch
	url = https://github.com/game103/cocoacatch.git
[submodule "game103games/flash/cocoacatch3"]
	path = game103games/flash/cocoacatch3
	url = https://github.com/game103/cocoacatch3.git
[submodule "game103games/flash/cocoarpg"]
	path = game103games/flash/cocoarpg
	url = https://github.com/game103/cocoarpg
[submodule "game103games/flash/cocoaball"]
	path = game103games/flash/cocoaball
	url = https://github.com/game103/cocoaball.git
[submodule "game103games/flash/daxpythedino"]
	path = game103games/flash/daxpythedino
	url = https://github.com/game103/daxpythedino.git
[submodule "game103games/flash/duckinatruck"]
	path = game103games/flash/duckinatruck
	url = https://github.com/game103/duckinatruck.git
[submodule "game103games/flash/flashfishy"]
	path = game103games/flash/flashfishy
	url = https://github.com/game103/flashfishy.git
[submodule "game103games/flash/grandestuary"]
	path = game103games/flash/grandestuary
	url = https://github.com/game103/grandestuary.git
[submodule "game103games/flash/game103rpg"]
	path = game103games/flash/game103rpg
	url = https://github.com/game103/game103rpg.git
[submodule "game103games/flash/game103world"]
	path = game103games/flash/game103world
	url = https://github.com/game103/game103world.git
[submodule "game103games/flash/lambinapram"]
	path = game103games/flash/lambinapram
	url = https://github.com/game103/lambinapram.git
[submodule "game103games/flash/marula"]
	path = game103games/flash/marula
	url = https://github.com/game103/marula.git
[submodule "game103games/flash/mousiesadventure"]
	path = game103games/flash/mousiesadventure
	url = https://github.com/game103/mousiesadventure.git
[submodule "game103games/flash/pilotkeepup"]
	path = game103games/flash/pilotkeepup
	url = https://github.com/game103/pilotkeepup.git
[submodule "game103games/flash/pixelmunk"]
	path = game103games/flash/pixelmunk
	url = https://github.com/game103/pixelmunk.git
[submodule "game103games/flash/ponyspredicament"]
	path = game103games/flash/ponyspredicament
	url = https://github.com/game103/ponyspredicament.git
[submodule "game103games/flash/rainincatsanddogs"]
	path = game103games/flash/rainincatsanddogs
	url = https://github.com/game103/rainincatsanddogs.git
[submodule "game103games/flash/thegreatduckdeechase"]
	path = game103games/flash/thegreatduckdeechase
	url = https://github.com/game103/thegreatduckdeechase.git
[submodule "game103games/flash/wooltycoon"]
	path = game103games/flash/wooltycoon
	url = https://github.com/game103/wooltycoon.git
[submodule "game103games/flash/postalpup"]
	path = game103games/flash/postalpup
	url = https://github.com/game103/postalpup.git
[submodule "game103games/flash/clicktheelephant"]
	path = game103games/flash/clicktheelephant
	url = https://github.com/game103/clicktheelephant.git
[submodule "game103games/flash/trampolinechickadee"]
	path = game103games/flash/trampolinechickadee
	url = https://github.com/game103/trampolinechickadee.git
[submodule "game103games/flash/littledive"]
	path = game103games/flash/littledive
	url = https://github.com/game103/littledive.git
[submodule "scripts/instagram-poster"]
	path = scripts/instagram-poster
	url = https://github.com/jamesgrams/instagram-poster.git
[submodule "game103games/flash/dolphinvolleyball"]
	path = game103games/flash/dolphinvolleyball
	url = https://github.com/game103/dolphinvolleyball.git
[submodule "game103games/javascript/cocoatown"]
	path = game103games/javascript/cocoatown
	url = https://github.com/game103/cocoatown.git
[submodule "game103games/javascript/duckiedoo"]
	path = game103games/javascript/duckiedoo
	url = https://github.com/game103/duckiedoo
[submodule "game103games/flash/upupandaramp"]
	path = game103games/flash/upupandaramp
	url = https://github.com/game103/upupandaramp
[submodule "game103games/flash/findandslide"]
	path = game103games/flash/findandslide
	url = https://github.com/game103/findandslide
[submodule "game103games/flash/sleepingbunnies"]
	path = game103games/flash/sleepingbunnies
	url = https://github.com/game103/sleepingbunnies
