@font-face {
	font-family: 'Open Sans'; 
	src: url(fonts/opensans.ttf);
}

a {
	color:#3274DA;
}

a:hover {
	color:#285cae;
}

a, img {
	border:none;
}

body {
	text-align: center;
	margin: auto;
	color: #3274DA;
	font-family: "Open Sans", sans-serif;
	min-width: 800px;
	position: relative;
	background-color: #DBF7FF;
	font-size: 16px;
}

button {
	background-color: #3274DA;
	border: none;
	color: white;
	padding: 0 15px;
	cursor: pointer;
	border: 1px solid;
	margin: 5px;
	height: 30px;
}

button:hover {
	background-color: #5A8FE1;
}

button::-moz-focus-inner { 
	padding: 0 15px;
	margin: 0 -15px;
}

.header {
	height: 130px;
	background-image: url("images/header2016.png");
	background-repeat: no-repeat;
    background-position: center;
	background-color: #4E85DB;
}

.logo {
	width: 200px;
	vertical-align: bottom;
	background-color: #DBF7FF;
	border: 5px solid #285cae;
	padding: 5px;
	min-height: 34px;
}

.header-title {
	position: absolute;
	width: 100%;
	top: 5px;
}

.header-title-text {
	font-size: 120%;
	color: #285cae;
	font-style: italic;
}

.header-subtitle {
	position: absolute;
	top: 20px;
	text-align: center;
	width: 100%;
}

.content {
	text-align: center;
}

.block-text {
	padding-left: 50px;
	padding-right: 50px;
}

.entries {
	margin-top: 80px;
}

.entry-link {
	text-decoration: none;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
    font-size: 16px;
}

.entry-item {
	overflow:hidden;
	color:#3274DA;
	position:relative;
	width:25em;
	height:75px;
	transition: all .3s ease;
	display: block;
}

.entry-item:hover { 
	background-color: #C1ECFF;
}

.entry-item img {
	position: absolute;
	top: 0;
	left: 0;
	width: 75px;
	height: 75px;
}

.entry-title {
	position: absolute;
	top: 0;
	left: 80px;
	display: block;
}

.entry-rating {
	font-size: 75%;
	position: absolute;
	top: 18px;
	left: 80px;
}

.entry-description {
	font-size: 75%;
	position: absolute;
	top: 25px;
	left: 80px;
	text-align: left;
	display: block;
}

.entry-stars {
	position: absolute;
	top: 0;
	right: 0;
}

.entry-description-no-rating {
	font-size: 75%;
	position: absolute;
	top: 20px;
	left: 80px;
	text-align: left;
}

.entry-plays {
	position: absolute;
	font-size: 75%;
	bottom: 0;
	right: 5px;
	font-style: italic;
}

.distribute-button {
	position: absolute;
	left: 80px;
	bottom: 0;
	margin: 0;
	padding: 1px 0;
	width: 80px;
	border: none;
	font-size: 60%;
	background-color: #3274DA;
	color: white;
}

.distribute-button:hover {
	background-color: #5A8FE1;
}

/* For top games widget */

.box-content {
	background-color: #3274DA;
	display: inline-block;
	margin: 10px;
	border: 5px solid;
	border-top: none;
	width: 95%;
    vertical-align: top;
}

.box-content-tight {
	width: auto;
	margin-top: 10px;
}

.box-content-button {
	border: none;
}

.box-content-button-selected {
	background-color: #285cae;
}

.box-content-container {
	background-color: #DBF7FF;
	padding: 10px;
}

.box-content-container-tight {
	padding: 0;
}

.box-content-box {
	display: none;
    font-size: 0;
}

.box-hidden-subheading {
	display: none;
	color: white;
	margin: 5px;
	height: 30px;
	line-height: 30px;
	font-style: italic;
	font-size: 90%;
}

#weekly-box {
	display: block;
}

@media screen and (min-width: 1440px) {
	#top-games {
		width: calc(64% - 35px);
		display: inline-block;
	}
	#featured-games {
		width: 31%;
		display: inline-block;
	}
	.box-hidden-subheading {
		display: block;
	}
}

/* End for top games widget */

/* For new games widget */

.date-box {
	margin: 15px 0;
}

.date-box-title {
	font-size: 80%;
}

.box-content-title {
	color: white;
	padding: 5px 0;
}

#load-more-content {
	text-decoration: underline;
	color: white;
	margin-top: 5px;
}

#load-more-content:hover {
	cursor: pointer;
}

/* End for new games widget */

/* For game page */

.side-boxes {
	display: inline-block;
	background-color: #3274DA;
	margin: 10px 0;
}

.side-box {
	display: inline;
	vertical-align: top;
}

.side-box-item {
	background-color: #3274DA;
	padding: 10px;
	color: white;
	width: 250px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

.side-box-item ul {
	margin: 0;
	list-style-type: none;
	padding-left: 0;
	text-align: left;
}

.side-box-title {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
}

.side-box-alt-text {
	color: #C6E0E7;
}

.side-box-link {
	color: white;
}

.side-box-link:hover {
	color: white;
}

/* For Zoom */
input[type=range] {
  -webkit-appearance: none;
  height: 20px;
  width: 75%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-thumb {
	height: 12px;
	width: 12px;
	border: none;
	cursor: pointer;
	border-radius: 15px;
	background-color: white;
	
	margin-top: 0;
}
input[type=range]::-webkit-slider-thumb {
	height: 12px;
	width: 12px;
	border: none;
	cursor: pointer;
	border-radius: 15px;
	background-color: white;
	
	-webkit-appearance: none;
	margin-top: -5px;
}
input[type=range]::-ms-thumb {
	height: 12px;
	width: 12px;
	border: none;
	cursor: pointer;
	border-radius: 12px;
	background-color: white;
	
	margin-top: 0;
}
input[type=range]::-moz-range-track {
	width: 100%;
	cursor: pointer;
	background-color: #5A8FE1;
	height: 3px;
	border: none;
	color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	cursor: pointer;
	background-color: #5A8FE1;
	height: 3px;
	border: none;
	color: transparent;
}
input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background-color: #5A8FE1;
	height: 3px;
	border: none;
	color: transparent;
}

#shrink {
	display: none;
}

#grow {
	display: none;
}

#game-container, #video-container {
	display: block;
}

#game, #video {
	display: block;
}

.preview-wrapper {
	position:absolute;
	top:0;
	left:50%;
}

.preview {
	position:relative; 
	left:-50%;
}

#preview-box {
	border: 1px solid white;
	display: none;
	box-sizing: border-box;
	position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	z-index: 50;
	opacity: 0.5;
	background-color: white;
	pointer-events: none;
}
/* End for zoom */

/* For rating */
.total-rating, .your-rating {
	text-align :center;
	display: inline-block;
}

.stars, .stars span, .stars-indication {
	display: block;
	background: url("images/stars.png") 0 -23px repeat-x;
	background-size: 22px 46px;
	width: 110px;
	height: 22px;
}

.stars span, .stars-indication {
	background-position: 0 0;
}

.star {
	float: left;
	width: 22px;
	height: 22px;
	display: inline-block;
	cursor: pointer;
}

.stars-indication {
	width: 0;
}

#show-rating-loading {
	display: none;
}

#star-1:hover ~ .stars-indication {
	width: 22px;
}
#star-2:hover ~ .stars-indication {
	width: 44px;
}
#star-3:hover ~ .stars-indication {
	width: 66px;
}
#star-4:hover ~ .stars-indication {
	width: 88px;
}
#star-5:hover ~ .stars-indication {
	width: 110px;
}

.thanks-for-voting {
	font-size: 75%;
	display: none;
}
/* End for rating */

.random-games {
	clear: both;
}

@media screen and (min-width: 1400px) {
    .left-side-box.responsive {
		float: left;
	}
	.right-side-box.responsive {
		float: right;
	}
	.side-boxes.responsive {
		display: inline;
		background-color: transparent;
	}
	.side-box.responsive {
		/* This margin replaces the margin that was on side-boxes before side-boxes became inline */
		margin-top: 10px;
		display: inline-block;
	}
	.side-box-item.responsive {
		margin-bottom: 10px;
		display: block;
	}
}
/* End for game page */

/* For games page */

#games-entries, #videos-entries, #resources-entries {
	/*margin-top: 50px;*/
}

.loading-wrapper {
	float: left;
	position: relative;
	height: 22px;
	padding: 5px;
}

#loading {
	visibility: hidden;
	color: white;
	position: absolute;
	bottom: 0;
}

.dropdown {
	float: right;
	-webkit-user-select: none;      
	-moz-user-select: none; 
	-ms-user-select: none;
}

.dropdown-selected {
	height: 20px;
	border: 1px solid white;
	padding: 5px;
	text-align: center;
	background-color: #3274DA;
	width: 175px;
	float: right;
	border-left: none;
}

.dropdown-selected:hover {
	cursor: pointer;
}

.dropdown-arrow {
	position: absolute;
	right: 0;
}

.dropdown-menu {
	display: none;
	list-style-type: none;
	text-align: center;
	outline: 1px solid white;
	color: white;
	padding: 0;
	margin: 0;
	border-top: none;
	position: relative;
	z-index: 45;
	float: right;
	clear: both;
	right: 1px;
	height: 0;
}
.dropdown-item {
	height: 25px;
	padding: 5px;
	background-color: #3274DA;
	width: 175px;
}

.dropdown-selected-in-list {
	background-color: #285cae;
}

.dropdown-item:hover {
	background-color: #5A8FE1;
	cursor: pointer;
}

.dropdown-item-text, .dropdown-selected-text {
	display: block;
	position: relative;
	top: 50%;
	color: white;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.sort {
	position: absolute;
	top: 170px;
	left: 10px;
	text-align: left;
}

.search {
	display: inline-block;
	margin-top: 5px;
}

.search input {
	background-color: #3274DA;
	color: white;
	border: 1px solid white;
	width: 175px;
	height: 20px;
	display: inline-block;
	padding: 5px;
	float: right;
}

.search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #C6E0E7;
}
.search input::-moz-placeholder { /* Firefox 19+ */
  color: #C6E0E7;
}
.search input:-ms-input-placeholder { /* IE 10+ */
  color: #C6E0E7;
}
.search input:-moz-placeholder { /* Firefox 18- */
  color: #C6E0E7;
}

.search select {
	background-color: #3274DA;
	color: white;
	border: 1px solid white;
	float: right;
	padding-left: 5px;
}

.search option {
	height: 30px;
	margin-left: 0;
	border: none;
	text-align: center;
}

.paging-controls {
	display: inline-block;
	margin-top: 5px;
}

.word-paging {
	display: inline-block;
}

.word-paging button {
	width: 85px;
}

.paging-selected-page {
	background-color: #285cae;
}

.number-paging, .word-paging button {
	margin:0;
	border: 0;
}


/*OLD*/
.page-links {
	position: relative;
}

.page-links-back {
	text-align: left;
	width: 200px;
	position: absolute;
	left: 20px;
	top: 0;
}

.page-links-next {
	text-align: right;
	width: 200px;
	position: absolute;
	right: 20px;
	top: 0;
}

.page-numbers {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 395px;
}

/* End for games page */

/* Apps */

#tutorial-slide {
	display: none;
}

/* End for apps */

/* Downloads */

.download-body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.download-body img {
	max-width: 800px;
	padding-top: 10px;
}

/* End for downloads */

/* Item permanently displayed on the navigation bar */
.nav {
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin-top: -4px;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
	z-index: 98;
	height: 30px;
	-webkit-user-select: none;      
	-moz-user-select: none; 
	-ms-user-select: none;
}

.nav-item {
	display: block;
	width: 20%;
	float: left;
	background-color: #3274DA;
	font-size:85%;
	text-decoration: none;
}

.nav-item:nth-child(even) {
	background-color: #2d68c4;
}

.nav-item-list-title {
	height: 30px;
	border: 1px solid #285cae;
	border-right: none;
}

#games-title {
	border-left: none;
}

.nav-item-list-title:hover {
	background-color: #5A8FE1;
}

.nav-item-list-title  a {
	display: block;
	height: 30px;
	text-decoration: none;
}

.nav-item-list-title-text {
	display: block;
	position: relative;
	top: 50%;
	color: white;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* Items within the drop down menu */
.nav-item-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 99;
	max-height: 0;
	visibility: hidden;
}

.nav-item-list-item {
	height: 30px;
	background-color: #3274DA;
	border: 1px solid #285cae;
	border-top: none;
	width: calc(100% - 1px);
	font-size: 90%;
}

.nav-item:nth-child(odd) .nav-item-list-item:nth-child(odd) {
	background-color: #2d68c4 ;
}

.nav-item:nth-child(even) .nav-item-list-item:nth-child(even) {
	background-color: #2d68c4 ;
}

#games-drop-down .nav-item-list-item {
	border-left: none;
	width: 100%;
}

#social-drop-down .nav-item-list-item {
	border-right: none;
	width: 100%;
	box-sizing: border-box;
}

.nav-item-list-item:hover {
	background-color:#5A8FE1 !important;
}

.nav-item-list-item  a {
	display: block;
	height: 30px;
	text-decoration: none;
}

.nav-item-list-item-text {
	display: block;
	position: relative;
	top: 50%;
	color: white;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* Hover events to show items */
#games-drop-down:hover {
	visibility: visible;
}
#games-title:hover + #games-drop-down {
	visibility: visible;
	transition-delay: 0.5s;
}
#game103-drop-down:hover {
	visibility: visible;
}
#game103-title:hover + #game103-drop-down {
	visibility: visible;
	transition-delay: 0.5s;
}
#videos-drop-down:hover {
	visibility: visible;
}
#videos-title:hover + #videos-drop-down {
	visibility: visible;
	transition-delay: 0.5s;
}
#resources-drop-down:hover {
	visibility: visible;
}
#resources-title:hover + #resources-drop-down {
	visibility: visible;
	transition-delay: 0.5s;
}
#social-drop-down:hover {
	visibility: visible;
}
#social-title:hover + #social-drop-down {
	visibility: visible;
	transition-delay: 0.5s;
}

/* End Navigation */

/* Character page styles */

.character-entries {
}

.character-entry {
	clear: both;
	text-align: left;
	padding-top: 20px;
	white-space: nowrap;
}

.character-image-container {
	display: inline-block;
	text-align: center;
	height: 0;
}

.character-image-size-boundaries {
	width: 200px;
	height: 200px;
}

.character-image {
	vertical-align: bottom;
	max-height: 80%;
	max-width: 80%;
}

.character-text-container {
	display: inline-block;
	white-space: normal;
	width: calc(100% - 200px);
}

.character-name {
	font-size: 120%;
	display: inline-block;
}

.character-ipa-name {
	display: inline-block;
}

.character-appears {
	font-style: italic;
}

/* End character page */

.footer {
	background-color: #3274DA;
	color: white;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer a {
	color: white;
}

.additional-links {
	margin-bottom: 10px;
}

.social-links {
	height: 24px;
	margin-bottom: 2px;
}

.social-links .fb_iframe_widget span {
	vertical-align: inherit !important;
}